* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  background-image: url('./assets/default.jpg');
  background-size: cover; 
  background-position: bottom;
}

.app.cloudy {
  background-image: url('./assets/cloudy.jpg');
}

.app.rainy {
  background-image: url('./assets/rainy.jpg');
}

.app.sunny {
  background-image: url('./assets/sunny.jpg');
}

main {
  min-height: 100vh;
  
  background-image: linear-gradient(rgb(103, 106, 107));
  padding: 30px;
}

.icon {
  display: block;
  margin: 20px auto 30px auto;
  text-align: center;
  font-size: 70px;
  color: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
  border: none;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px 25px 25px 25px;
  margin-top: -10px;

  box-shadow: 0px 5px rgba(173, 173, 182, 0.2);
  
  color: #3a3838;
  font-size: 20px;

  transition: 0.4s ease-out;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
  outline: none;
}

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(250, 243, 243, 0.2);
  height: 100px;
  border-radius: 16px;

  padding: 50px 20px 75px 20px;

  color: #FFF;
  font-size: 100px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(63, 62, 62, 0.2);
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(37, 37, 39, 0.5);
}